<div id='page1'>
  <div id='con-top'>
      <div class='row'>
        <div class='col-lg-5 col-offset-1 col-md-6 col-sm-6 col-xs-12'>
         <!--  <img src='/img/devices-vfl3TTUs-.png' width="50%" height="50%" /> -->
         <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
        <div id='right_word' class='col-lg-6 col-md-6 col-sm-6 col-xs-12' >
          想買菜，又怕被坑？<br>
          動動手指，<font color='red'>帶你掌握最新市場動態</font><br>
          別懷疑<br>
          Vege.exp 帶給你<font color='#800000'>最新最棒的體驗</font><br>
        </div>
        <div class='row'>
                <a href='#page2' id='go_page2' class='btn btn-success col-lg-2 col-lg-offset-7 col-md-2 col-md-offset-7 col-xs-12 col-sm-2 col-sm-offset-7'>
                    <b>讓我們開始吧</b>
                </a>
        </div>
      </div>
  </div>
</div>
<div id='page2'>
  <div class='row' >
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 setsumei' >
       <img src='/img/melon.png' id='melon'/>
       <p>
        簡單、方便、新奇的使用者體驗，帶您更快速的掌握最新最即時的蔬果行情。
       </p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 setsumei' >
          <img src='/img/clock.png' id='clock'/><br>
          <p>
            無時無刻為您關注現在的蔬果交易價格，替您掌握時間的脈動。
          </p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 setsumei' >
       <img src='/img/Get_it_on_Google_play.svg' id='gplay'/>
       <p>
          Android 平台近期將上架，盡請期待。
       </p>
      </div>  
  </div>
</div>

